body{
    font-family: sans-serif;
}
.loader{
    background: #000735;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    animation: remove-loader 5s ease alternate forwards;
}
main{
    top: 70px;
    position: relative;
}
.load-element{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: #baffe8;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    animation: move-up 3s ease alternate infinite;
}
.content{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    text-align: center;
    z-index: 99999;
}
.content h2{
    position: relative;
    animation: move-down 5s ease alternate forwards;
}
.content p{
    position: relative;
    animation: move-up-paragraph 5s ease alternate forwards;
}
.css-btn {
    background: #b5d3ff;
    padding: 15px 30px;
    margin: 20px 0;
    width: 200px;
    border: 1px solid #95d3fe;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    color: #000735;
    text-transform: uppercase;
    transition: all 0.6s ease-in;
    animation: fade-in 9s ease alternate forwards;
}
.css-btn:hover{
    border: 1px solid #000735;
    background-color: #000735;
    color: #fff;
    cursor: pointer;
}
svg path {
    fill:none;
    stroke: plum;
    stroke-width: 10px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    stroke-width: 1 3px;
    animation: 6s text-outline  infinite forwards;
}
svg{
    width: 200px;
    height: 200px;
    animation: fade-in 9s ease alternate forwards;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 32px;
    margin: 10px 0;
    font-weight: bold;
}
p{
    font-size: 20px;
}
header{    
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(246,37,249,0.17970938375350143) 35%, rgba(0,212,255,1) 100%);
    color: #000735;
}
nav {
    background: #000735;
    color: #fff;
    padding: 20px 9px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
span.load-element.left-el {
    left: 46%;
}
span.load-element.right-el {
    left: 54%;
}
@keyframes  fade-in{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes text-outline{
    from{
      stroke-dashoffset: 2000;
      opacity: 0;
    }
    to{
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
@keyframes move-up{
    0%{
        top: 30%;
        background-color: magenta;
        border-radius: 0;
    }
    50%{
        background-color: aquamarine;
        border-radius: 20%;
    }
    100%{
        top:50%;
        border-radius:50%;
        background-color: mediumblue;
    }
}

@keyframes remove-loader{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes move-down{
    0%{
        top: -300px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
@keyframes move-up-paragraph{
    0%{
        top: 300px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}